@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box; /* Применение border-box для всех элементов */
}

body {
    background-image: url("stars2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    color: #e4d6ff;
    line-height: 1.4;
    text-align: left;
    font-family: 'Montserrat Underline', sans-serif; 
    min-height: 100vh;
    max-height: 1000vh; 
}

h1 {
    font-size: 2.5vw;
    font-weight: 700; 
    border: solid; 
    max-width: 90%;
    z-index: 1;
    position: relative;
}

h2 {
    font-size: 2vw;
    font-weight: 700;
    max-width: 80%; /* Максимальная ширина заголовка */
    z-index: 1; /* Уровень стека для заголовка */
    position: relative; /* Позиционирование */
}

p {
    background-color:  rgba(0, 0, 0, 0.66); /* RGBA */
    border-radius: 3px;
    font-size: 1.5vw; 
    color: #e4d6ff; 
    text-decoration: none;
    min-height: 50px;
    padding: 10px; 
    position: relative;
    z-index: 1;
}

img {
    max-width: 10%;
    height: auto;
}

.container {
    display: flex; /* Flex для контейнера */
    justify-content: space-around; /* распределение элементов с равными отступами */
    align-items: center; /* вертикальное выравнивание */
    margin: auto; /* центрирование контейнера */
}

ul{
    font-size: 1.5vw; 
}

a {
    color: #ffc7df;
    text-decoration: none; 
}

a:hover {
    color: #ffafd2; 
}

p {
    cursor: url('cursor.png'), auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #e4d6ff;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

.decoration {
    color: #9d75ee;
    font-size: 1.5vw;
    bottom: -210px;
    left: 10px;
    position: absolute; 
    padding: 20px 20px;
    z-index: 2;
}

.inform_about_me {
    p {
        background-color: #2e1a5700
    }
    position: fixed;
    max-width: 600px; /* Максимальная ширина параграфа */
    bottom: 10px;
    right: 10px;
    background-color: #2e1a5783;
    color: #9d75ee;
    padding: 1px 20px;
    border-radius: 5px;
    font-size: 1vw;
    z-index: 3;
    border: solid;
  }
